*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    
}


.back-forms{
    background-image: linear-gradient(to right, #a517ba 30%, #5f1782 60%);
     width: 100%;
     height: 100vh;
     background-attachment: fixed;

}
.back-forms .forms{
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50%, -50%) ;
    width: 400px;
    height: 500px; 
    background: rgba(0, 0, 0, 0.2);
    
    
}
::placeholder{
    color: white;
    opacity: 0.4;
}

.back-forms .forms h2{
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
.back-forms .forms form label{
    color: #fff;
    opacity: 0.89;
    margin-bottom: 3px;
    font-weight: bold;
    text-transform: capitalize;
}
.forms form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 0;
    margin: 20px;
}

.forms form input[type=text],
.forms form input[type=email],
.forms form input[type=password]{

    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 16px;
    font-size: 12px;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 16px;
}

.forms input[type=submit]{

    width: 100%;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: #a517ba;
    padding: 12px;
    cursor: pointer;
    text-transform: capitalize;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bolder;
    

}
.forms input[type=submit]:hover{
    background-color: #000;
    color: #fff;
    transition: all 0.1s linear;
    
}
.forms input[type=text]:focus{
    background-color: #dadae4;
    border: none;
    outline: none;
    color: #000;
    padding: 12px 0;
    border-radius: 8px;
    transition: all 0.3s linear;
    
}
.forms input[type=email]:focus{
    background-color: #dadae4;
    border: none;
    outline: none;
    color: #000;
    padding: 12px 0;
    border-radius: 8px;
    transition: all 0.3s linear;
    
}
.forms input[type=password]:focus{
    background-color: #dadae4;
    
    outline: none;
    color: #000;
    padding: 12px 0;
    border-radius: 8px;
    transition: all 0.3s linear;
    
}
.button{
    display: flex;
    width: 100%;
    justify-content: center;
    text-transform: capitalize;
    
}
.button p{
    color: #fff;
    font-size: 16px;
}
.button a{
    color: #fff;
    font-weight: bold;
    margin-left: 4px;
    text-decoration: none;

}
.button span{
    color: white;
}

/*  ----------------------log in---------------------*/
.forms .login form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 0;
    margin: 30px;
}
.forms .login form input[type=text],
.forms .login form input[type=email],
.forms .login form input[type=password]{

    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 16px;
    font-size: 12px;
    padding: 12px 0;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 16px;
}
.forms .login input[type=email]:focus{
    background-color: #dadae4;
    border: none;
    outline: none;
    color: #000;
    padding: 12px 0;
    border-radius: 8px;
    transition: all 0.3s linear;
    
}
.forms .login input[type=password]:focus{
    background-color: #dadae4;
    border: none;
    outline: none;
    color: #000;
    padding: 12px 0;
    border-radius: 8px;
    transition: all 0.3s linear;
    
}

.forms .options{

    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
    padding: 12px;
}
.forms form a{
    text-decoration: none;
    color: white;
    opacity: 0.85;
    margin-left: 50%;
    margin-top: 1%;
}
.forms .options a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    cursor: pointer;
    padding-top: 12px;
    font-weight: bold;
}
.forms .options p{
    font-weight: bold;
    font-size: large;
}

